@import '../../assets/variables';

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

.wrap {
  background-color: $background-secondary;
  border-left: 1px solid $border-primary;
  height: calc(100vh - 60px);
  overflow-y: auto;
  margin-right: -999px;
  padding-right: 999px;
}

.list {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 300px;
}

.link {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}

.activeLink {
  composes: link;
  background-color: $background-primary;
}
