.wrapCode {
  font-size: 15px;
  padding: 10px 20px;
  background-color: #242424;
  overflow: auto;

  border-radius: 8px;
}

.root {
  
  border-radius: 8px;
}

.switcher {
  margin-left: 8px;
  & .switchButton:nth-child(1) {
    border-top-left-radius: 8px;
  }

  & .switchButton:nth-child(2) {
    border-top-right-radius: 8px;
  }
}

.switchButton {
  border: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;

  &_active {
    background-color: #242424;
  }
}
