@import '../src/assets/variables';
@import './components.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

p {
	width: 460px;
	margin: 0 auto 15px auto;
}

h1 {
	text-align: center;
	margin: 30px 0;
}

h3 {
	line-height: 40px;
}

form {
	max-width: 460px;
	margin: 0 auto;
}

.input-wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.input-error-message {
	font-size: 13px;
	color: #ff0c0c;
	padding: 3px 0;
	letter-spacing: 1px;
}

.input {
	background-color: white;
	color: black;
	padding: 6px 8px;
	border-radius: 4px;
	border: 1px solid $border-secondary;
	outline: none;

	&:focus {
	  box-shadow: 0 0 0 1px #80d5ff;
	}
}

.input-error {
	background-color: #ffd5d5;
}

button {
	border: 1px solid black;
	padding: 10px 16px;
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: $font-primary;
	background-color: $background-tertiary;

	&:disabled {
	  cursor: not-allowed;
		color: $font-secondary;
		background-color: $background-secondary;
	}
}

button.danger {
	background-color: #720505;
}

button.success {
	background-color: #057214;
}

.row {
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.code-center {
	max-width: 460px;
	margin: 0 auto;
}

.state-info-icon {
	color: white;
	text-decoration: none;
	height: 26px;
	width: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	border-radius: 50%;
	border: solid 2px white;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.formItem {
	background-color: #3C3F41;
	border: solid 1px #555555;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 10px;

	.formItem {
		background-color: #2B2B2B;
		margin: 10px 0;
	}
}
